@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

button{
  border: none;
  background: none;
}

.outer-main-container{
  background-color: #f5f5f5ff;
  height: 100%;
}

.navbar-div {
  display: flex;
  height: 56px;
  /* border: 1px solid black; */
  align-items: center;
  position: relative;
  top: 0px;
  background-color: white;
  box-shadow: 1px 0px 9px rgb(145, 145, 145);
}

.navbar-logo-search-div {
  display: flex;
  align-items: center;
  width: 60%;
  gap: 15px;
  padding-left: 30px;
}

.navbar-left-section{
  width: 100vw;
  display: flex;
}
.search-btn-img{
  width: 22px;
}

.navbar-search-button{
  border: none;
  background: none;
  position: relative;
  left: -34px;
  /* border: 1px solid black; */
  width: 34px;
  border-radius: 10px;
}

.navbar-search-button:hover{
  background-color: rgba(178, 181, 219, 0.493);
}

.navbar-logo-img{
  width: 45px;
}

.navbar-input-search {
  min-width: 425px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(212, 208, 208);
  padding: 10px;
  font-size: 15px;
}

.navbar-input-search:focus {
  outline: none;
  border: 2px solid blue;
}

/* .navbar-search-button{

} */

.navbar-login-div {
  position: absolute;
  right: 20px;
  /* border: 1px solid black; */
  width: fit-content;
}

.navbar-login-link,
.navbar-createacc-link {
  font-size: 15px;
  color: #5d5d5dff;
  text-decoration: none;
}

.navbar-createacc-link {
  border: 1px solid #3b49dfff;
  color: #3b49dfff;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
}

.navbar-login-link {
  margin-right: 10px;
  padding: 8px;
  border-radius: 10px;
  font-weight: 100;
  text-align: center;
}

.navbar-createacc-link:hover{
  background-color: #3b49dfff;
  color: white;
  text-decoration: underline;
}
.navbar-login-link:hover{
  background-color: rgba(178, 181, 219, 0.493);
  color: #3b49dfff;
  text-decoration: underline;
}
.navbar-login-search-button{
  display: none;
}

.hamburger-menu{
  display: none;
  background: none;
}

/* making navbar responsive */
@media (max-width : 767px) {
    .navbar-left-section,.navbar-login-link{
      display: none;
    }
    .navbar-login-div{
      width: 60%;
    }
    .navbar-createacc-link{
      position: absolute;
      right: 0px;
      top: -18px;
    }
    .navbar-login-search-button{
      display: block;
      position: absolute;
      right: 130px;
      top: -18px;
      background-color: rgba(158, 157, 157, 0.534);
      border: none;
      width: 40px;
      height: 35px;
      border-radius: 5px;
      padding-top: 1px;
    }

    .hamburger-menu{
      display: block;
      width: 30px;
      height: 34px;
    }
    
    .hamburger-img{
      width: 30px;
      height: 34px;
    }


}
 /* home page styling */
 .homePage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 30px;
    /* border: 1px solid black; */
 }

/* leftside styling */
.leftside-info-para{
  line-height: 24px;
  word-spacing: 3px;
  letter-spacing: 0.5px;
  font-weight: 100;
  margin-bottom: 15px;
}
.menu-about-img{
  width: 25px;
}

.leftsidebar-div{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-left: 10px;
  gap: 30px;
  /* border: 1px solid black; */
  width: 20%;
}

.leftside-info-card-div{
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 18px 12px 20px 12px;
  box-shadow: 0px 0px 1px grey;
  width: 100%;
}

.leftside-info-card-heading{
  word-spacing: 3px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}



.menu-card-div>ul>li{
  display: flex;
  height: 40px;
  align-items: center;
   list-style: none;
   font-weight: 100;
   padding-left: 5px;
   /* border: 1px solid black; */
   width: 85%;
   cursor: pointer;
}
.menu-item-ul{
  display: flex;
  flex-direction: column;
  /* gap: 18px; */
}

.menu-icon-img{
  width: 20px;
}


.menu-card-div span{
  /* border: 1px solid black; */
  width: 40px;
  /* padding-left: 1px; */
  text-align: left;
}

.menu-card-div>ul>li:hover{
  background-color: rgba(178, 181, 219, 0.493);
  height: 40px;
  border-radius: 10px;
  text-decoration: underline;
  color: blue;
}

.other-card-social{
  /* padding-left: 5px; */
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.other-card-social>a{
  color: black;
}

/* rightside card styling */

.right-side-div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  width: 25%;
  /* border: 1px solid black; */
}

.right-card{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 1px grey;
}

.right-card>h3{
  padding: 15px 0px 20px 15px;
  /* border-bottom: 0.1px solid rgb(223, 223, 223); */
}

.right-headline{
  list-style: none;
  font-weight: 200;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
}

.right-comment{
  list-style: none;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 30px;
  /* padding: 15px 10px 20px 15px; */
}

.right-li-item{
  padding: 15px 10px 5px 15px;
  border-top: 0.1px solid rgb(223, 223, 223);
  cursor: pointer;
}

.right-headline:hover{
  color: blue;
}


/* mid card styling */
.mid-main-div{
  width: 50%;
  padding-top: 20px;
  /* background-color: white; */
  /* border-radius: 10px; */
  /* border: 1px solid black; */
}

.homePage-mid-section>ul{
  display: flex;
  gap: 20px;
  padding: 0px 0px 20px 15px;
}

.mid-img{
  width: 100%;
}

.mid-card-div{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.mid-cards{
  background-color: white;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 0px 1px grey;
  overflow: hidden;
}

.mid-heading{
  padding: 20px 40px 20px 50px;
  text-decoration: none;
  color: black;

}

/* making homepage responsive */
@media (max-width: 1000px){
    .right-side-div{
      display: none;
    }

    .leftsidebar-div{
        width: 35%;
    }

    .mid-main-div{
      width: 60%;
    }
}

@media (max-width : 767px){
  .leftsidebar-div{
    display: none;
  }

  .mid-main-div{
    width: 100%;
  }
}


/* hambutton functionallity ke baad css likh rha hu  */
.ham-button-clicked{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 100px rgba(128, 128, 128, 0.418);
  background-color: white;
  width: 80%;
  height:100%;
  z-index: 99;
}

.leftsidebar-createacc-link , .leftsidebar-login-link{
  font-size: 15px;
  color: #5d5d5dff;
  text-decoration: none;
}

.leftsidebar-createacc-link {
  border: 1px solid #3b49dfff;
  color: #3b49dfff;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
}

.leftsidebar-login-link {
  margin-right: 10px;
  padding: 8px;
  border-radius: 10px;
  font-weight: 100;
  text-align: center;
}

.leftsidebar-createacc-link:hover{
  background-color: #3b49dfff;
  color: white;
  text-decoration: underline;
}
.leftsidebar-login-link:hover{
  background-color: rgba(178, 181, 219, 0.493);
  color: #3b49dfff;
  text-decoration: underline;
}

.ham-is-clicked{
  position: relative;
}

.hambefore-effect{
  display: none;
}

.hamafter-effect{
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
  padding: 22px 12px 25px 12px;
  border-bottom: 1px solid rgb(207, 207, 207);
}

/* create account page styling */

.create-acc-heading,.create-acc-para{
  letter-spacing: 1px;
}

.create-acc-main-div{
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  /* border: 1px solid black; */
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.create-acc-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  /* border: 1px solid black; */
  position: relative;
}
.create-acc-btn{
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(202, 202, 202);
  height: 50px;
}

/* making create account page responsive */
@media (max-width: 1300px){
  .create-acc-div, .login-page-input{
    min-width: 80%;
    /* border: 1px solid black; */
  }
}

@media (max-width: 700px){
  .create-acc-header-div{
    width: 70%;
  }
  .create-acc-heading{
    font-size: 20px;
  }
}
